service: auth-microservice

provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}
  environment:
    NEO4J_URI: ${env:NEO4J_URI}
    NEO4J_USER: ${env:NEO4J_USER}
    NEO4J_PASSWORD: ${env:NEO4J_PASSWORD}
    JWT_SECRET: ${env:JWT_SECRET}
    PEPPER: ${env:PEPPER}

functions:
  signup:
    handler: dist/handlers/signup.handler
    events:
      - http:
          path: auth/signup
          method: post
          cors: true

  login:
    handler: dist/handlers/login.handler
    events:
      - http:
          path: auth/login
          method: post
          cors: true

  verify:
    handler: dist/handlers/verify.handler
    events:
      - http:
          path: auth/verify
          method: post
          cors: true

  refreshToken:
    handler: dist/handlers/refreshToken.handler
    events:
      - http:
          path: auth/refresh
          method: post
          cors: true

plugins:
  - serverless-plugin-typescript
  - serverless-offline
