service: auth-lambda

useDotenv: true

plugins:
  - serverless-plugin-typescript
  - serverless-offline

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-2
  timeout: 60
  memorySize: 1024
  ephemeralStorageSize: 10240
  environment:
    NEO4J_URI: ${env:NEO4J_URI}
    NEO4J_USER: ${env:NEO4J_USER}
    NEO4J_PASSWORD: ${env:NEO4J_PASSWORD}
    JWT_SECRET: ${env:JWT_SECRET}
    PEPPER: ${env:PEPPER}
  vpc:
    securityGroupIds:
      - ${env:SECURITY_GROUP_ID}
    subnetIds:
      - ${env:SUBNET_ID_1}
      - ${env:SUBNET_ID_2}

functions:
  signup:
    handler: src/handlers/signup.handler
    events:
      - http:
          path: auth/signup
          method: post
          cors: true

  login:
    handler: src/handlers/login.handler
    events:
      - http:
          path: auth/login
          method: post
          cors: true

  setupPassword:
    handler: src/handlers/setupPassword.handler
    events:
      - http:
          path: auth/setup-password
          method: post
          cors: true

  verify:
    handler: src/handlers/verify.handler
    events:
      - http:
          path: auth/verify
          method: post
          cors: true

  refreshToken:
    handler: src/handlers/refreshToken.handler
    events:
      - http:
          path: auth/refresh
          method: post
          cors: true
