service: auth-lambda

useDotenv: true

plugins:
  - serverless-plugin-typescript
  - serverless-offline

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-2
  timeout: 60
  memorySize: 1024
  ephemeralStorageSize: 10240
  architecture: arm64
  environment:
    NEO4J_URI: ${env:NEO4J_URI}
    NEO4J_USER: ${env:NEO4J_USER}
    NEO4J_PASSWORD: ${env:NEO4J_PASSWORD}
    NEO4J_ENCRYPTED: ${env:NEO4J_ENCRYPTED, 'false'}
    JWT_SECRET: ${env:JWT_SECRET}
    PEPPER: ${env:PEPPER}
  vpc:
    securityGroupIds:
      - ${env:SECURITY_GROUP_ID}
    subnetIds:
      - ${env:SUBNET_ID_1}
      - ${env:SUBNET_ID_2}

functions:
  api:
    handler: src/index.handler
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors: true
      - http:
          path: /
          method: ANY
          cors: true
